<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/style.css" th:href="@{style.css}" rel="stylesheet" media="screen"/>
    <title>Spring Boot Example</title>

</head>
<body>
<div class="container">
  <div class = "form">

<form action="#" th:action="@{/product}" th:object="${product}"
            method="post">
 
  
  <label for="name"> name:</label>
  <input type="text" id="name" name="name"><br><br>
  
  <label for="quentity"> quantity:</label>
  <input type="text" id="quentity" name="quentity"><br><br>
  
  <label for="price"> price:</label>
  <input type="text" id="price" name="price"><br><br>
  <input type="submit" value="Submit">
</form>
</div>
</div> 

</body>
</html>