<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/style.css" th:href="@{style.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>Spring Boot Example</title>
<style>
.navbar-header{
	
	background-color: #8ae234;
	hight:80;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  
}

.navbar navbar-default{
	list-style-type: none;
  margin: 0;
  padding: 0;
  hight:50;
}

.container-fluid{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
	display: inline;
	
}
</style>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    
                    <ul class="nav navbar-nav">
                        <a  href="#" th:href="@{/}">Home</a>
                        <a href="#" th:href="@{/products}">Products</a>
                        <a href="#" th:href="@{/product/new}">Create new product</a>
                      
                    </ul>

                </div>
            </div>
        </nav>
         <div align="center">
          <h1>New Product</h1>
  <div class = "form">

<form action="#" th:action="@{/product}" th:object="${product}"
            method="post">
 
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="name" class="form-control" id="name"  placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="quentity">Quentity</label>
    <input type="quentity" class="form-control" id="quentity" placeholder="quentity">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="price" class="form-control" id="price" placeholder="price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div> 
</div>
</body>
</html>